.filter {
  display: flex;
  padding: 50px 0;
  height: auto;
  // align-items: flex-start;
  .sidebar {
    width: 250px;
    .by-category {
      .title {
        color: #003f62;
        font-weight: 400;
      }
      &-list {
        margin-top: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .list-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            color: #222222;
            &:focus {
              color: #003f62;
            }
          }
          span {
            color: #222222;
          }
        }
      }
    }
  }
  .products {
    height: 950px;
    width: calc(100% - 250px);
    .swiper2 {
      width: 100%;
      height: 100%;
      align-items: center;
      .swiper-slide2 {
        height: 270px !important;
        .product {
          .img {
            max-height: 50%;
            img {
              max-height: 100%;
            }
          }
        }
      }
    }
  }
}

.added-category-box{
  text-align: center;
  background-color: #11628d;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  transition: 0.6s;
}
.dnone{
  display: none;
}

@media (max-width: 850px) {
  .filter {
    flex-direction: column;
    gap: 30px;
    .sidebar {
      width: 100%;
      .by-category {
        &-list {
          flex-direction: row;
          overflow-x: scroll;
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }
          gap: 45px;
          .list-item {
            span{
              margin-left: 10px;
            }
          }
        }
      }
    }
    .products {
      width: 100%;
    }
  }
}
