.noproduct {
  height: 300px;
}

.myproducts {
  .myprodtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .add{
      text-align: right;
      .linkk{
        color: #fff;
        background-color: green;
        padding: 5px 8px;
        border-radius: 8px;
      }
    }
  }
  .products {
    .swiper2 {
      .swiper-slide2 {
        .product {
          .img{
            max-height: 50%;
            img{
              max-height: 100%;
            }
          }
          .product__links {
            .delete {
              background-color: red;
              color: #fff;
            }
            .update{
              background-color: green;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
